/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 2px solid #ccc; /* Gray border */
  border-radius: 2px; /* Rounded borders */
  border-color: #f011a9;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 8px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=range] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 2px solid #ccc; /* Gray border */
  border-radius: 2px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 8px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=number] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border-color: #f011a9;
  margin-top: 8px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
}

input[type=checkbox] {
  width: 5%; /* Full width */
  padding: 12px; /* Some padding */
  margin-top: 8px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}

/* Style the submit button with a specific background color etc */
input[type=button] {

  width: 100%;
  padding: 16px;
  background-color: #f011a9;
  color: white;
  border: none;
  border-radius: 4px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=button]:hover {
  background-color: #bd0b84;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
